

/* Custom handle styles for the resizable box */
.custom-handle {
    position: absolute;
    /* background: #000; */
    /* border: 1px solid #000; */
    width: 20px;
    height: 20px;
    cursor:nw-resize;
    z-index: 1;
  }
  
  .custom-handle::before {
    content: '';
    position: absolute;
    background: #33ff00;
    border: 3px solid #33ff00;
    cursor:nw-resize;
    width: 5px;
    height: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  .custom-handle1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 20px;
    cursor: move;
    z-index: 100; /* Ensure the handle is on top */
  }
  
  
  /* Position handles for corners */
  .custom-handle.custom-handle-nw { top: -10px; left: -10px; cursor: nw-resize; }
  .custom-handle.custom-handle-ne { top: -10px; right: -10px; cursor: ne-resize; }
  .custom-handle.custom-handle-sw { bottom: -10px; left: -10px; cursor: sw-resize; }
  .custom-handle.custom-handle-se { bottom: -10px; right: -10px; cursor: se-resize; }
  
  /* Position handles for sides */
  .custom-handle.custom-handle-n { top: -10px; left: 50%; cursor: n-resize; transform: translateX(-50%); }
  .custom-handle.custom-handle-e { top: 50%; right: -10px; cursor: e-resize; transform: translateY(-50%); }
  .custom-handle.custom-handle-s { bottom: -10px; left: 50%; cursor: s-resize; transform: translateX(-50%); }
  .custom-handle.custom-handle-w { top: 50%; left: -10px; cursor: w-resize; transform: translateY(-50%); }
  
  .modal-open-no-drag {
    /* Styles to prevent dragging if you have it implemented */
    pointer-events: none; /* Disables all pointer interactions */
    /* Add other styles as needed to visually indicate it's not draggable */
  }


  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
  div[style*='marquee'] {
    display: inline-block;
    padding-left: 100%;
  }
  